NEXT_PUBLIC_PHONE=""
NEXT_PUBLIC_WHATSAPP=""
NEXT_PUBLIC_EMAIL=""
NEXT_PUBLIC_ADDRESS=""
NEXT_PUBLIC_FACEBOOK=""
NEXT_PUBLIC_LINKEDIN=""
NEXT_PUBLIC_INSTAGRAM=""
NEXT_PUBLIC_YOUTUBE=""
NEXT_PUBLIC_TWITTER=""
NEXT_PUBLIC_PINTEREST=""
NEXT_PUBLIC_GOOGLE_PLUS=""
NEXT_PUBLIC_BLOGSPOT=""

# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_SERVICE_ID=""
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=""
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=""

# SEO Verification Codes
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=""
NEXT_PUBLIC_BING_SITE_VERIFICATION=""
NEXT_PUBLIC_YANDEX_SITE_VERIFICATION=""
